.git
.github
.next
.turbo
.vscode
.idea
node_modules
**/node_modules
**/.next
**/.turbo
**/dist
**/coverage
.env
.env.*
!.env.example
!.env.*.example
**/.env.local
**/.env.local.example
.DS_Store
*.tsbuildinfo
apps/dashboard/.next
docs
storage
scripts
README.md
